.fluid{
    height: 75px;
    color: white;
    background-color: #ff9a02;
    font-size: 2.1em;
    font-weight: 700;
}

iframe{
    margin-top: 25px;
    width: 85%;
    height: 350px;
    border:2px;
}

.questions{
    padding: 18px;
}

h5{
    margin-top: 15px;
}

h7{
    color: #ff9a02;
}

.cancellation{
    padding: 20px;
    color: #ff9a02;
    font-weight: 700;
    font-size: 1.6em;
}

.text{
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 10px 10px;
    height: 80px;
    margin-bottom: 20px;
}


.note{
    margin: 2em 10em;
    border: 1px solid #ff9a02;
    border-radius: 8px;
    text-align: center;
    padding: 0.5em;
    font-size: 18px;
}

.note a {
    color: #ff9a02;
    font-weight: 700;
    text-decoration: none;
}