
.menuItem{
    padding: 0;
    margin: 2.75% 0 2.75% 12px;
    width: 100%;
    text-decoration: none;
    color: black;
}

.menuItem-md{
    padding: 0;
    margin: 1% 0 1% 12px;
    width: 100%;
    text-decoration: none;
    color: black;
}
.menuItem:hover {
    /* cursor: pointer; */
    color: #f68b1e;
}

.category{
    border-radius: 2.5px;
    height: 100%;
}

.category:hover{
    border-right: 1px solid grey;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
